asgiref==3.11.0
dj-database-url==2.2.0
Django==5.0.6
django-cors-headers==4.4.0
djangorestframework==3.15.2
gunicorn==21.2.0
packaging==25.0
psycopg==3.1.19
psycopg-binary==3.1.19
psycopg2-binary==2.9.11
python-dotenv==1.0.1
sqlparse==0.5.4
typing_extensions==4.15.0
whitenoise==6.7.0
